<ul class="d-flex flex-wrap justify-content-center list-unstyled p-0">
  <li class="m-2">
    <a href="/dashboard" class="btn btn-primary btn-sm">
      Dashboard
    </a>
  </li>

  <li class="m-2">
    <a href="/contacts?sort=default&page=0" class="btn btn-primary btn-sm">
      Contact List
    </a>
  </li>

  <li class="m-2">
    <a href="/contact/add" class="btn btn-primary btn-sm">
      Add New Contact
    </a>
  </li>

  <li class="m-2">
    <a href="/search" class="btn btn-primary btn-sm">
      Search Contact
    </a>
  </li>

  <li class="m-2">
    <a href="/settings" class="btn btn-primary btn-sm">
      Settings
    </a>
  </li>
</ul>