
<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
      To Many Request!
      <p class="fw-normal fs-6 text-black text-center">Please wait for a few seconds!</p>
    </h1>
  </div>
</div>