<div class="container-lg p-lg-3 mt-3">


  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-danger">
      Internal Server Error
    </h1>
    <h6 class="m-0 text-black text-body">
      <%= error %>
    </h6>

    <ul class="list-group list-group-flush text-break">

      <% if (stack) { %>
      <p class="text-break">
      <% stack.forEach(s=> { %>
      <li class="list-group-item list-group-item-danger">
      <%= s %>
      </li >
      <% }) %>
    </p>
    <% } %>
  </ul>
</div>
</div>