<div class="container-lg p-lg-3 mt-3">
  <div class="mb-4 p-3 d-flex flex-column justify-content-center align-items-center text-center gap-3 mt-3" style="min-height:80vh ;">
    <h1 class="ft-bold fs-1">
      INTERNAL SERVER ERROR
    </h1>
    <h6 class="m-0">
      <%= error %>
    </h6>

    <ul class="list-group list-group-flush">

      <% if (stack) { %>
        <p>
          <% stack.forEach(s=> { %>
            <li class="list-group-item list-group-item-danger">
              <%= s %>
            </li>
            <% }) %>
        </p>
        <% } %>
    </ul>
  </div>
</div>