<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3 justify-content-center">
    <div class="d-flex flex-column align-content-center justify-content-center text-center col-md-12 mt-lg-5">
      <h1 class="display-6 fw-bold text-primary">Welcome to Contact Manager</h1>
      <p class="lead text-muted mb-4 mx-auto" style="max-width: 700px;">
        Seamlessly organize your contacts with ease. Store names, emails, phone numbers, and more in a fast, intuitive,
        and
        secure platform designed for you.
      </p>
      <button onclick="location.href='/dashboard'" type="button" class="btn btn-primary btn-lg shadow-sm col-md-6 mx-auto">
        Get Started
      </button>
    </div>


    <hr class="m-lg-5">

<!-- Bagian Fitur dengan Gambar -->
<section class="container my-5">
  <h1 class="fs-3 text-center fw-bold text-primary mb-5">Key Features</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-img-top text-center p-4">
          <img src="sync.png" alt="Feature: Instant Contact Sync" class="img-fluid" style="height: 150px; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h3 class="h5 fw-bold text-primary mb-3">Instant Contact Sync</h3>
          <p class="text-muted mb-0">
            Sync your contacts across devices in real-time for seamless access anywhere.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-img-top text-center p-4">
          <img src="dashboard.png" alt="Feature: Smart Organization" class="img-fluid" style="height: 150px; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h3 class="h5 fw-bold text-primary mb-3">User Friendly Dashboard</h3>
          <p class="text-muted mb-0">
            User-friendly dashboard with various navigation menus to manage contacts.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-img-top text-center p-4">
          <img src="dynamic.png" alt="Feature: Secure Data Protection" class="img-fluid" style="height: 150px; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h3 class="h5 fw-bold text-primary mb-3">Dynamic Fields Contacts</h3>
          <p class="text-muted mb-0">
            Create contacts with dynamic fields. Store infinite information in key-value pairs!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>
  </div>
</div>