<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3 justify-content-center">
    <div class="d-flex flex-column align-content-center justify-content-center text-center col-md-12 mt-lg-5">
      <h1 class="display-6 fw-bold text-primary">Welcome to Contact Manager</h1>
      <p class="lead text-muted mb-4 mx-auto" style="max-width: 700px;">
        Seamlessly organize your contacts with ease. Store names, emails, phone numbers, and more in a fast, intuitive,
        and
        secure platform designed for you.
      </p>
        <button onclick="location.href='/dashboard'" type="button" class="btn btn-primary btn-lg shadow-sm col-md-6 mx-auto">
          Get Started
        </button>
    </div>


    <hr class="m-lg-5">

    <!-- Bagian Fitur dengan Gambar -->
    <h1 class="fs-3 mx-auto text-center fw-bold text-primary mt-5">Key Features</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 w-100">
      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <img src="sync.png" class="card-img-top p-3" alt="Feature: Instant Contact Sync"
            style="height: 150px; object-fit: contain;">
          <div class="card-body">
            <h3 class="h5 fw-bold text-primary">Instant Contact Sync</h3>
            <p class="text-muted">Sync your contacts across devices in real-time for seamless access anywhere.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <img src="dashboard.png" class="card-img-top p-3" alt="Feature: Smart Organization"
            style="height: 150px; object-fit: contain;">
          <div class="card-body">
            <h3 class="h5 fw-bold text-primary">User Friendly Dashboard</h3>
            <p class="text-muted">user-friendly dashboard with various navigation menus to manage contacts.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <img src="dynamic.png" class="card-img-top p-3" alt="Feature: Secure Data Protection"
            style="height: 150px; object-fit: contain;">
          <div class="card-body">
            <h3 class="h5 fw-bold text-primary">Dynamic fields contacts</h3>
            <p class="text-muted">Create contact with dynamic fields. You can store infinity information in key-value
              pair in this dynamic fields!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>