<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
      Account Deleted!
    </h1>
    <p class="lead text-muted m-1 text-body">
      Your account now is <strong class="fw-bold">
        Deleted!
      </strong>
    </p>
    <hr>

    <div class="card text-center">
      <div class="card-body p-4 text-center text-body">
        <h2 class="h4 text-light fw-bold text-body"><span class="fs-1">
            Account Deletion successfully!
          </span></h2>
        <p class="text-muted">
          Thank you for using our service. <br>
        </p>
        <a href="sign-up" class="btn btn-primary btn-sm mt-3">Sign Up
        </a>




      </div>
    </div>


  </div>
</div>